In [11]:
from core import valuation

valuation('002415', riskfree_rate=4)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,海康威视,93.64,148.99,16.97,25.0,238.44,3736.21 (39.9),5961.0 (63.66),2980.5 (31.83),7449.5 (79.55)

In [12]:
valuation('000333', riskfree_rate=6)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,美的集团,69.97,272.96,10.15,16.67,364.8,3766.63 (53.83),6080.0 (86.89),3040.0 (43.45),9120.0 (130.34)

In [13]:
valuation('000651', riskfree_rate=6)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,格力电器,56.31,231.24,-2.21,16.67,216.25,2078.55 (36.91),3604.17 (64.01),1802.08 (32.0),5406.26 (96.01)

In [14]:
valuation('600519', riskfree_rate=3)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,贵州茅台,12.56,484.8,13.58,33.33,710.34,22701.25 (1807.42),23678.0 (1885.19),11839.0 (942.6),24240.0 (1929.94)

In [15]:
valuation('600085', riskfree_rate=3)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,同仁堂,13.71,11.2,8.28,33.33,14.22,699.18 (51.0),474.0 (34.57),237.0 (17.29),560.0 (40.85)

In [16]:
valuation('600436', riskfree_rate=3)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,片仔癀,6.03,19.92,33.24,33.33,47.12,1872.94 (310.6),1570.67 (260.48),785.34 (130.24),996.0 (165.17)

In [17]:
valuation('600750', riskfree_rate=3)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,江中药业,6.3,4.88,3.77,33.33,5.45,106.58 (16.92),181.67 (28.84),90.84 (14.42),244.0 (38.73)

In [18]:
valuation('600882', riskfree_rate=4)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,妙可蓝多,5.16,0.98,158.22,25.0,16.87,177.66 (34.43),421.75 (81.73),210.88 (40.87),49.0 (9.5)

In [19]:
valuation('300316', riskfree_rate=4)

,名称,总股本,利润,增长率,给定PE,三年后利润,当前市值,三年后估值,理想买入点,理想卖出点
0,晶盛机电,13.09,12.41,62.06,25.0,52.82,887.57 (67.81),1320.5 (100.88),660.25 (50.44),620.5 (47.4)